:root {
  --dark: #374151;
  --darker: #1f2937;
  --darkest: #111827;
  --grey: #6b7280;
  --pink: #ec4899;
  --purple: #8b5cf6;
  --light: #eee;
}

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Fira sans", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: #fff;
  background: linear-gradient(-45deg, #1976d2, #ec4899);
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
}

header {
  padding: 2rem 2rem;
  max-width: 880px;
  width: 100%;
  margin: 5px auto;
  margin-left: 378px;
}

header h1 {
  font-size: 2.5rem;
  font-weight: 300;
  color: white;
  margin-bottom: 2rem;
  font-family: "Merriweather", serif;
  margin-left: 68px;
}

#new-task-form {
  display: flex;
  margin-left: -29px;
}

input,
button {
  appearance: none;
  border: none;
  outline: none;
  background: none;
}

#new-task-input {
  background-color: var(--darker);
  padding: 1rem;
  border-radius: 1rem;
  margin-right: 1rem;
  color: var(--light);
  font-size: 1.25rem;
  width: 655px;
}

#new-task-input::placeholder {
  color: var(--grey);
}

#new-task-submit {
  color: var(--pink);
  font-size: 1.25rem;
  font-weight: 700;
  background-image: linear-gradient(to right, var(--pink), var(--purple));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
  transition: 0.4s;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

#new-task-submit:hover {
  opacity: 0.8;
}

#new-task-submit:active {
  opacity: 0.6;
}

main {
  flex: 1 1 0%;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}

.task-list {
  padding: 1rem;
}

.task-list h2 {
  font-size: 30px;
  font-weight: 300;
  color: white;
  margin-bottom: 1rem;
  font-family: "Merriweather", serif;
  margin-left: 330px;
}
.task {
  display: flex;
  justify-content: space-between;
  background-color: var(--darkest);
  padding: 1rem;
  border-radius: 1rem;
  margin-bottom: 1rem;
}

.task .content {
  flex: 1 1 0%;
}

.task .content .text {
  color: var(--light);
  font-size: 1.125rem;
  width: 100%;
  display: block;
  transition: 0.4s;
}

.task .content .text:not(:read-only) {
  color: var(--pink);
}

.task .actions {
  display: flex;
  margin: 0 -0.5rem;
}

.task .actions button {
  cursor: pointer;
  margin: 0 0.5rem;
  font-size: 1.125rem;
  font-weight: 700;
  text-transform: uppercase;
  transition: 0.4s;
}

.task .actions button:hover {
  opacity: 0.8;
}

.task .actions button:active {
  opacity: 0.6;
}

.task .actions .edit {
  background-image: linear-gradient(to right, var(--pink), var(--purple));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.task .actions .delete {
  background-image: linear-gradient(to right, var(--pink), var(--purple));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.2s;
}
.task .actions .delete:hover,
.done:hover,
.edit:hover {
  transform: scale(1.2);
}
.task .actions .done {
  background-image: linear-gradient(to right, var(--pink), var(--purple));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.add {
  background: var(--darker);
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.add:hover {
  background: var(--darkest);
  color: #fff;
}
.task {
  border: 2px solid white;
  height: 61px;
}
#new-task-input:hover {
  border: 2px solid white;
}
.strike {
  opacity: 0.3;
}
.strike:active {
  opacity: 1;
}
.qwe {
  background: white;
}
